#swap{
  width: 100%;
  .tabs{
    width: inherit;
    border-bottom: $secondary-color-light 1.5px solid;
    .tab{
      background-color: transparent;
      outline: none;
      border: 0;
      color: white;
      font-size: 1.1em;
      &:hover{
        background-color: $secondary-color-light;
        color: #0a0c13;
      }
      &:first-child{
        border-radius: 50px 0 0 0 ;
      }
      &:last-child{
        border-radius: 0 $main-window-border-radius 0 0 ;
      }
    }

    .active {
      background-color: $secondary-color;
      color: #0a0c13;
    }
  }


}
