$primary-color: rgba(#010713,1);
$secondary-color: rgba(#23DCC8,1);
$secondary-color-light: rgba(#91dbd3, 1);
$secondary-color-glow: rgba(#42ddcc,0.3);

$asset-origin-color: rgba(#06141c, 1);
$asset-target-color: rgba(#14252d ,1);

$dropdown-menu-color-transparent: rgba(#787878, 0.2);
$dropdown-menu-color-opaque: rgba(#545454, 0.8);
$dropdown-menu-color-transparent-highlight: rgba(#989898, 0.2);
$dropdown-menu-color-opaque-highlight: rgba(#989898, 0.8);


$main-window-border-radius: 50px;
