$primary-color: rgba(#010713,1);
$secondary-color: rgba(#23DCC8,1);
$secondary-color-light: rgba(#91dbd3, 1);
$secondary-color-glow: rgba(#42ddcc,0.3);
$asset-origin-color: rgba(#06141c, 1);
$asset-target-color: rgba(#14252d ,1);
